* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, 
p {
background-color: #dde0e3;
}

em, strong {
background-color: #b2d6ff;
}

h1{
  padding: 50px;
  border: 1px solid #5D6060;
}

p {
padding: 20px 10px;
margin: 50px;
}

div {
  color: white;
  background-color: rgb(52, 126, 215);
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5d6063;
  border-radius: 5px;
  width: 100px;
  box-sizing: border-box;
  margin: auto;

}